/* .nav {
    border: solid 2px black;
} */

body{
    background-color: bisque;
}

.main-area{
    border: solid 2px black;
    width: auto;
    height: 35rem;
    display: flex;
    flex-direction: row;
    
}

.menu{
    border: solid 2px yellow;
display: flex;
flex-direction: column;
justify-content: center;
flex-wrap: wrap;
width: 75rem;
align-items: center;
margin-bottom: 10px;

}

.images{
    border: solid 2px red;
}
footer{
    border: solid 2px green;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    position: absolute;
    bottom: 0px;
    width: 95rem;
}

.info {
    color: black;
}